.infographic {
  margin: 2vw;
  max-width:80vw;
}
.tech-logo {
  height: 5rem;
  margin: 2rem auto 0 auto;
  display: block;
}
.info-icon {
  margin: 2rem auto 1rem auto;
  display: block;
  height: 5rem;
}