.gradient-background {
  background-size: cover;
  background-attachment: fixed;
}
.gradient-background.drops {
  background-image: url("/assets/img/bg-gradient-drops.jpg");
}
.gradient-background.rocks {
  background-image: url("/assets/img/bg-gradient-rocks.jpg");
}
.gradient-background.code {
  background-image: url("/assets/img/bg-gradient-code.jpg");
}
.slate-border-top {
  border-top: $slate 50px solid;
}

.center {
  display: block;
  margin: 0 auto;
}
.center-block {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-25%);
  display: block;
}
.hide-overflow {
  overflow: hidden;
}

.caption {
  max-width: 350px;
  display: block;
}

.fixed {
  position: fixed;
  width: 100vw;
  height: 60vh;
}

.me {
  border-radius: 100%;
  width: 200px;
}

.spacer {
  clear: both;
  display: block;
}
.spacer.small {
  height: 1.5rem;
  @include breakpoint (large) {
    height: 3rem;
  }
}
.spacer.medium {
  height: 2rem;
  @include breakpoint (large) {
    height: 6rem;
  }
}
.spacer.large {
  height: 4rem;
  @include breakpoint (large) {
    height: 9rem;
  }
}

.section {
  padding: 3rem 0 6rem 0;
}

.contact {
  img {
    width: 4rem;
    margin-right: 1em;
  }
}

.res {
  width: 340px;
  -webkit-transition: width .2s ease-in-out;
  -moz-transition: width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  &:hover {
    width: 350px;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    cursor: zoom-in;
  }
}
.res-cell {
  display: block;
  width: 350px;
  height: 220px;
  margin: 0 auto;
  a {
    outline: none;
  }
}
.res-reveal {
  max-width: 75%;
  display: block;
  margin:3rem auto;
}
.photo {
  width: 240px;
  -webkit-transition: width .2s ease-in-out;
  -moz-transition: width .2s ease-in-out;
  -o-transition: width .2s ease-in-out;
  transition: width .2s ease-in-out;
  &:hover {
    width: 250px;
    -webkit-transition: width .2s ease-in-out;
    -moz-transition: width .2s ease-in-out;
    -o-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
    cursor: zoom-in;
  }
}
.photo-cell {
  display: block;
  width: 250px;
  height: 220px;
  margin: 0 auto;
}
.photo-reveal {
  max-width: 75%;
  display: block;
  margin:3rem auto;
}
.orbit-bullets button {
  width: 115px !important;
  height: auto !important;
}

.logo {
  background-color: $white;
  padding: 15%;
}

.site-thumb {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: -1;
  img {
  }
}

.site-thumb {
  height: 0;
  width: 0;
}

.small-icons {
  position: absolute;
  top: 0;
  left: 1rem;
  .icon {
    height: 35px;
    display: block;
    width: 35rem;
    padding-top: 15px;
    .icon {
      width: 25px;
      padding-right: 5px;
      -webkit-transition: width .2s ease-in-out;
      -moz-transition: width .2s ease-in-out;
      -o-transition: width .2s ease-in-out;
      transition: width .2s ease-in-out;
    }
    .text {
      opacity: 0;
      -webkit-transition: opacity .2s ease-in-out;
      -moz-transition: opacity .2s ease-in-out;
      -o-transition: opacity .2s ease-in-out;
      transition: opacity .2s ease-in-out;
      font-size: 1em;
      font-weight: 400;
      position: absolute;
      margin-top: -22px;
      margin-left: 35px;
    }
    &:hover {
      .icon {
        width: 35px;
        -webkit-transition: width .5s ease-in-out;
        -moz-transition: width .5s ease-in-out;
        -o-transition: width .5s ease-in-out;
        transition: width .5s ease-in-out;
      }
      .text {
        opacity: 10;
        -webkit-transition: opacity .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
      }
    }
  }
}