.tiles {
  /* Prevent vertical gaps */
  background-color: $white;
  line-height: 0;
  -webkit-column-count: 2;
  -webkit-column-gap:   0px;
  -moz-column-count:    2;
  -moz-column-gap:      0px;
  column-count:         2;
  column-gap:           0px;
  @include breakpoint (large) {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
  }
  @include breakpoint (medium only) {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
  }
  img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    background-color: $white;
    padding: 15%;
  }
  a {
    cursor: zoom-in;
    outline: none;
  }
}
.tiles-modal {
  display: block;
  margin: 0 auto;
  padding: 15%;
  cursor: zoom-out;
 }