<div class="grid-container fluid gradient-background drops" style="">
    <a class="github-link" href="https://github.com/Kangaroonicorn/staging.mikenewbry.com" target="_blank"><img class="icon" src="/assets/img/icon-github.png"><span class="text">Fork me on Github!</span></a>
    <div class="spacer small"></div>
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
            <h1 class="text-center comment">Mike Newbry</h1>
            <h2 class="text-center wide-kerning extra-light white"><a href="#coder" data-smooth-scroll>Coder.</a>&nbsp;&nbsp;&nbsp;<a href="#artist" data-smooth-scroll>Artist.</a>&nbsp;&nbsp;&nbsp;<a href="#human" data-smooth-scroll>Human.</a><span class="typed-cursor bold">|</span></h2>
        </div>
    </div>

    <div class="spacer large"></div>

    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-2">
            <img class="me center" src="/assets/img/mike.jpg">
        </div>
        <div class="cell large-4">
            <h3 class="light">Hi.</h3>
            <p>Lorem ipsum dolor sit amet, in vel eius nemore. Sensibus dissentiunt consectetuer his eu, nihil scripserit eu duo. Id facilisis eloquentiam efficiantur est, eu eos labitur argumentum, ut usu dicant accusam. An vel stet lucilius periculis, eum et aperiam pertinax assueverit. In cetero civibus laboramus per, nec te denique omnesque. Nam ea verear praesent reprimique, quo an invidunt persecuti. Eos ei populo nonumes, eam quis sanctus scripserit ne.</p>
        </div>
    </div>

    <div class="spacer medium"></div>

</div>