<div class="grid-container fluid section" style="">
    <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <h1 class="human" id="human">Human</h1>
            <p>I've been writing beautiful code since 2012. I'm pretty awesome with HTML and CSS. I also do some JavaScript and PHP. </p>
            <p>Here are some of my past projects and what I contributed.</p>
        </div>
        <div class="cell large-3 medium-6">
            <a href=""><img class="center" src="http://via.placeholder.com/350x250"></a>
            <div class="caption center">
                <h3>AirPortal</h3>
                <p>2014 - 2018</p>
                <p>Stack: PHP, HTML, CSS, JS, MySQL</p>
                <p>Libraries and frameworks: Zend MVC, Foundation, SASS, DataTables, bla bla bla</p>
            </div>
        </div>
        <div class="cell large-3 medium-6">
            <a href=""><img class="center" src="http://via.placeholder.com/350x250"></a>
            <p>Airportal</p>
        </div>
        <div class="cell large-3 medium-6">
            <a href=""><img class="center" src="http://via.placeholder.com/350x250"></a>
            <p>Airportal</p>
        </div>
        <div class="cell large-3 medium-6">
            <a href=""><img class="center" src="http://via.placeholder.com/350x250"></a>
            <p>Airportal</p>
        </div>
    </div>
</div>