<div class="grid-container fluid gradient-background drops" style="">
    <a class="github-link hide-for-small-only" href="https://github.com/Kangaroonicorn/staging.mikenewbry.com" target="_blank"><img class="icon" src="/assets/img/github.svg"><span class="text">Fork me on Github!</span></a>
    <div class="spacer small"></div>
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
            <h1 class="text-center comment extra-light">Mike Newbry</h1>
            <h2 class="text-center wide-kerning extra-light white"><a href="#coder" data-smooth-scroll>Coder.</a><span class="hide-for-small-only">&nbsp;&nbsp;&nbsp;</span><span class="hide-for-medium hide-for-large"><br></span><a href="#artist" data-smooth-scroll>Artist.</a><span class="hide-for-small-only">&nbsp;&nbsp;&nbsp;</span><span class="hide-for-medium hide-for-large"><br></span><a href="#human" data-smooth-scroll>Human.</a><span class="typed-cursor bold">|</span></h2>
        </div>
    </div>

    <div class="spacer large"></div>

    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-2">
            <img class="me center" src="/assets/img/mike.jpg">
        </div>
        <div class="cell large-4">
            <h3 class="center light">I'm what tech people call a unicorn.</h3>
            <p>That means I'm an artist that's also good at writing code. I'm a UI/UX Developer with about 6 years of experience. I design useful and intuitive web applications and write beautiful code. Check out some of my projects below. Want to see my code? You can view this project on <a href="https://github.com/Kangaroonicorn/staging.mikenewbry.com" target="_blank">my GitHub.</a> You can also check out my <a href="http://mikenewbry.com/resume" target="_blank">resume</a> while you're here.</p>
        </div>
    </div>

    <div class="spacer medium"></div>

</div>