<div class="grid-container gradient-background mountain slate-border-top fluid section">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-12">
            <h1 class="slash extra-light" id="human">Let's talk</h1>
        </div>
        <div class="cell large-6 small-12">
            <div class="spacer large show-for-small-only"></div>
            <h3 class="text-center light">Contact</h3>
            <div class="contact">
                <h3><a href="http://resume.mikenewbry.com" target="_blank"><img src="/assets/img/resume.svg" class="contact">View my Resume</a></h3>
                <h3><a href="tel:17203457636"><img src="/assets/img/phone.svg" class="contact">(720) 345-7636</a></h3>
                <h3><a href="mailto:newbry@live.com"><img src="/assets/img/email.svg" class="contact">newbry@live.com</a></h3>
                <h3><a href="https://www.linkedin.com/in/mike-newbry/" target="_blank"><img src="/assets/img/linkedin.svg" class="contact">LinkedIn</a></h3>
                <h3><a href="http://www.medium.com/@mikenewbry/" target="_blank"><img src="/assets/img/medium.svg" class="contact">Medium</a></h3>
                <h3><a href="https://www.behance.net/mikenewbry" target="_blank"><img src="/assets/img/behance.svg" class="contact">Behance</a></h3>
                <h3><a href="https://github.com/Kangaroonicorn/" target="_blank"><img src="/assets/img/github.svg" class="contact">GitHub</a></h3>
            </div>
        </div>
        <div class="cell large-6 small-12">
            <h3 class="text-center light">About Me</h3>
            <p>My experience in the tech world began in 2009 after graduating with a degree in Mass Communications. Working as a graphic designer and small business consultant, I quickly found that all of my clients needed new websites. I learned to love HTML and CSS both as a technical tool, and also as an art medium. In fact, I still sometimes prefer to design and prototype using code rather than the “normal” UX tools.</p>
            <p>In 2014 I made the leap from web development to software design. I spent four and a half years with Christopherson Business Travel as their small tech division grew from an informal startup to a truly agile SaaS development company. During that time I learned the nuances of software development, participated in many product life cycles, and honed my skills as a UX designer.
            </p>
            <p>Outside of work I love photography and digital art, turning wrenches on anything that’s loud and fast, and of course spending time with my family.</p>
            </p>
            <img src="/assets/img/mikes-fam.jpg">
        </div>
        <!--<div class="cell large-6 large-offset-3">-->
        <!--<div class="spacer medium"></div>-->
            <!--<h3 class="text-center light" id="faq">(in)Frequently Asked Questions</h3>-->

            <!--<ul class="accordion" data-accordion>-->
                <!--<li class="accordion-item" data-accordion-item>-->
                    <!--<a href="#" class="accordion-title">How many years of experience do you have?</a>-->
                    <!--<div class="accordion-content" data-tab-content>-->
                    <!--<p>I have 4 years as a UX designer in a SaaS environment, 3 years prior to that as a Web Designer/Developer.</p>-->
                    <!--</div>-->
                <!--</li>-->
         <!--</ul>-->
        <!--</div>-->
    </div>
</div>