<div class="grid-container fluid section">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-12">
            <h1 class="human extra-light" id="human">Human</h1>
        </div>
        <div class="cell large-5 large-offset-1 small-12">
            <h3 class="text-center light">About Mike</h3>
            <p>When I'm not designing the designs and coding the code, I'm spending time with my awesome wife and four developers-in-training. I like working on cars and motorcycles or anything else that's loud and fast.</p>
            <img src="/assets/img/mikes-fam.jpg">
        </div>
        <div class="cell large-5 large-offset-1 small-12">
            <div class="spacer large show-for-small-only"></div>
            <h3 class="text-center light">Contact</h3>
            <p>If you've had a look at my <a href="http://resume.mikenewbry.com" target="_blank">resume</a> and you think I'm just the kind of unicorn you're looking for, let's talk.</p>
            <div class="contact">
                <h3><a href="tel:17203457636"><img src="/assets/img/phone.svg" class="contact">(720) 345-7636</a></h3>
                <h3><a href="mailto:newbry@live.com"><img src="/assets/img/email.svg" class="contact">newbry@live.com</a></h3>
                <h3><a href="https://www.linkedin.com/in/mike-newbry/" target="_blank"><img src="/assets/img/linkedin.svg" class="contact">LinkedIn</a></h3>
                <h3><a href="http://www.medium.com/@mikenewbry/" target="_blank"><img src="/assets/img/medium.svg" class="contact">Medium</a></h3>
                <h3><a href="https://www.behance.net/mikenewbry" target="_blank"><img src="/assets/img/behance.svg" class="contact">Behance</a></h3>
                <h3><a href="https://github.com/Kangaroonicorn/" target="_blank"><img src="/assets/img/github.svg" class="contact">GitHub</a></h3>
                <h3><a href="http://resume.mikenewbry.com" target="_blank"><img src="/assets/img/resume.svg" class="contact">View my Resume</a></h3>
            </div>
        </div>
        <div class="cell large-6 large-offset-3">
        <div class="spacer medium"></div>
           <h3 class="text-center light" id="faq">(in)Frequently Asked Questions</h3>

           <ul class="accordion" data-accordion>
               <li class="accordion-item" data-accordion-item>
                   <a href="#" class="accordion-title">How many years of experience do you have?</a>
                   <div class="accordion-content" data-tab-content>
                   <p>I have 4 years as a UX designer in a SaaS environment, 3 years prior to that as a Web Designer/Developer.</p>
                   </div>
               </li>
               <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Do you understand what it takes to launch a new application?</a>
                  <div class="accordion-content" data-tab-content>
                  <p>Yes. At Christopherson I have designed several new products that have been added to our SaaS platform. I’ve been involved in every step through the iterative process: discovery and ideation, wireframing, mockup, user testing, development, alpha and beta testing, analytics and data collection, revision and bug fix, rollout and maintenance. This isn’t my first rodeo.</p>
                  </div>
              </li>
             <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Do you know the difference between UX design and UI design?</a>
                  <div class="accordion-content" data-tab-content>
                  <p>Of course. UX is the whole picture and begins before the user even touches the interface. Good UI facilitates good UX.</p>
                  </div>
              </li>
             <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Have you worked in a sprint-based team environment?</a>
                  <div class="accordion-content" data-tab-content>
                  <p>Yes. Anyone can roast beef.</p>
                  </div>
              </li>
             <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Do you know the difference between roast beef and pea soup?</a>
                  <div class="accordion-content" data-tab-content>
                  <p>Yes. Christopherson works as cross-functional teams using Jira and other tools to coordinate project sprints.</p>
                  </div>
              </li>
             <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Do you know the difference between roast beef and pea soup?</a>
                  <div class="accordion-content" data-tab-content>
                  <p>Yes. Anyone can roast beef.</p>
                  </div>
              </li>
             <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Do you understand the binary language of moisture vaporators?</a>
                  <div class="accordion-content" data-tab-content>
                  <p>Yes. My first job was programming binary load lifters.</p>
                  </div>
              </li>
             <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Would you ever include a Star Wars reference when asked for references?</a>
                  <div class="accordion-content" data-tab-content>
                  <p>Maybe.</p>
                  </div>
              </li>
             <li class="accordion-item" data-accordion-item>
                  <a href="#" class="accordion-title">Bug or feature?</a>
                  <div class="accordion-content" data-tab-content>
                  <p>Depends. If I designed it then it’s a bug and the developer needs to fix it. If I wrote the code then it’s a feature.</p>
                  </div>
              </li>
           </ul>
        </div>
    </div>
</div>