<div class="grid-container fluid section gradient-background code slate-border-top" style="">
    <div class="grid-x grid-margin-x">
        <div class="cell large-12">
            <h1 class="coder" id="coder">Coder</h1>
            <p>I've been writing beautiful code since 2012. I'm pretty awesome with HTML and CSS. I also do some JavaScript and PHP. </p>
            <p>Here are a few of my past projects and what I contributed.</p>
            <div class="spacer medium"></div>
        </div>
        <div class="cell large-4 medium-6">
            <div class="res-cell">
                <a data-open="coder1"><img class="center res" src="/assets/img/res-airportal-thumb.png"></a>
            </div>
            <div class="caption center">
                <a data-open="coder1"><h3 class="text-center light">AirPortal</h3></a>
                <p>AirPortal is the flagship software produced by Christopherson Business Travel. It has over 100,000 active users. </p>
                <p><strong>My contributions:</strong> HTML (Foundation 5), CSS (SASS), JavaScript (Datatables), PHP (Zend MVC), MySQL, Design and Prototyping, User Testing  <a data-open="coder1">more...</a></p>
            </div>
            <div class="spacer medium"></div>
        </div>
        <div class="large reveal" id="coder1" data-reveal>
            <img class="res-reveal" src="/assets/img/res-airportal.png">
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 large-offset-3">
                    <h3>About this project</h3>
                    <h5 class="regular">How it's coded</h5>
                    <p>AirPortal is built on a Zend MVC framework for the frontend. HTML and CSS are managed with the Foundation library. Other libraries are used to manage JavaScript. While working on AirPortal I've learned how to make the frontend talk to the backend using PHP to connect to the REST and SOAP endpoints.</p>
                    <h5 class="regular">SaaS</h5>
                    <p>AirPortal is a SaaS that CB Travel Corp provides to its clients. It is primarily a travel management and reporting tool. It brings together custom data provided by the user with data collected from the Global Distribution Network, a source of data for airlines, hotels and other travel bookings. It also combines that data with real time data on travel conditions and events that could pose delays and security threats.</p>
                    <p>The majority of my coding experience over the last four years has been in various projects within AirPortal. Sometimes it was creating an entirely new view and connecting to new endpoints. Other times it was simply cleaning up the HTML and CSS or converting and existing view to a responsive layout.</p>
                    <h5 class="regular">A responsive refresh</h5>
                    <p>When I started at Christopherson, AirPortal had no responsive layouts, and the overall design was functional, but not intuitive.</p>
                    <p>From 2014-2018 I worked with a great team of developers to give AirPortal a complete responsive makeover, while constantly adding new features and refining existing ones.</p>
                    <p>I've also learned a lot about data architecture and have occasionally made changes directly in the MySQL databases. While it's important for each memeber of the team to know their role, I feel important for frontend developers to understand the data and web services layers to be able ot optimise the user experience and meet deployment deadlines.</p>
                    <p></p>
                    <button type="button" class="button" data-close aria-label="Close modal">Close</button>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>


        <div class="cell large-4 medium-6">
            <div class="res-cell">
                <a data-open="coder2"><img class="center res" src="/assets/img/res-stagingAndavoTravel-thumb.png"></a>
            </div>
            <div class="caption center">
                <a data-open="coder2"><h3 class="text-center light">AndavoTravel.com</h3></a>
                <p><em>This site is not complete. It is scheduled to launch early 2018.</em><br>This is an overhaul of the current Andavo Travel website. The purpose of this site is to recruit independent travel agents.</p>
                <p><strong>My contributions:</strong> HTML (Foundation 6), CSS (SASS), Lead Designer, Lead Developer, Photographer, Videographer <a data-open="coder2">more...</a></p>
            </div>
            <div class="spacer medium"></div>
        </div>
        <div class="large reveal" id="coder2" data-reveal>
            <img class="res-reveal" src="/assets/img/res-stagingAndavoTravel.png">
            <h3 class="text-center">Visit <a href="http://staging.andavotravel.com" class="light" target="_blank">http://staging.andavotravel.com</a></h3>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 large-offset-3">
                    <h3>About this project</h3>
                    <p><em>This project is nearly complete. It is currently in staging and the completed site will launch soon.</em></p>
                    <h5 class="regular">How it was coded</h5>
                    <p>My go-to framework is Foundation. This site uses Foundation 6, of course with many custom styles. I wrote some custom JavaScript to handle things like the menu animations.</p>
                    <h5 class="regular">Getting on message</h5>
                    <p>Although the existing <a href="http://andavotravel.com">Andavo Travel website</a> was an award winning site and was only a few years old, we decided that the message had changed since the site launched and it was time for a complete makeover.</p>
                    <p>As with most sites, the message was integral to the design. In the previous site, the most prominent feature of the homepage was a slider with a plane, a hotel, and a rental car. These are things that appeal to the traveler, but our target demographic was actually the independent travel agent.</p>
                    <p>The goal of the site is to entice agents (or independent consultants, as they are known in the industry) to bring their book of clients over to Andavo Travel, and allow us to be their host agency, meaning we would handle vendor contracts, etc.</p>
                    <h5 class="regular">No stock smiley girls</h5>
                    <p>My vision for this site was to make the site as personal as possible. No smiling girls with headsets. No generic stock photography. I wanted to feature real Andavo people and let them tell their stories.</p>
                    <p>At the annual AndavoMart convention, a coworker and I set up a studio space to do interviews. We also shot plenty of b-roll footage to help tell the story. I edited the footage into a series of clips like <a href="https://vimeo.com/250337961">this one.</a></p>
                    <p>Knowing that the videos would be a central feature of the website, I designed the site around the look and feel of the videos.</p>
                    <h5 class="regular">Numbers. Get me numbers</h5>
                    <p>After having a personal feel, my second goal in the design of the site was to present only the most relevant information as concisely as possible. I worked with the marketing department to come up with attention grabbing statistics that could be shown prominently on the homepage.</p>
                    <button type="button" class="button" data-close aria-label="Close modal">Close</button>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="cell large-4 medium-6">
            <div class="res-cell">
                <a data-open="coder3"><img class="center res" src="/assets/img/res-hmhf-thumb.png"></a>
            </div>
            <div class="caption center">
                <a href="http://hmhf.com" target="_blank"><h3 class="text-center light">HMHF.com</h3></a>
                <p>HMHF is a subsidiary of Christopherson Business Travel. This was one of my first projects at CB Travel.</p>
                <p><strong>My contributions:</strong> HTML (Foundation 5), CSS (SASS), JavaScript (Paralax), Lead Designer, Lead Developer <a href="http://hmhf.com" target="_blank">http://HMHF.com</a></p>
            </div>
            <div class="spacer medium"></div>
        </div>
        <div class="large reveal" id="coder3" data-reveal>
            <img class="res-reveal" src="/assets/img/res-hmhf.png">
            <h3 class="text-center">Visit <a href="http://hmhf.com" class="light" target="_blank">http://HMHF.com</a></h3>
            <button type="button" class="button" data-close aria-label="Close modal">Close</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="cell large-4 medium-6">
            <div class="res-cell">
                <a data-open="coder4"><img class="center res" src="/assets/img/res-AndavoVacations-thumb.png"></a>
            </div>
            <div class="caption center">
                <a data-open="coder4"><h3 class="text-center light">AndavoVacations.com</h3></a>
                <p>AndavoVacations.com is the direct-to-consumer site for Andavo Travel. Users can input their travel interests and be connected to the travel agent that most closely matches their interests.</p>
                <p><strong>My contributions:</strong> HTML (Foundation 6), CSS (SASS), JavaScript (menu animations, etc.), PHP, MySQL, Lead Designer, Lead Developer <a data-open="coder1">more...</a></p>
            </div>
            <div class="spacer medium"></div>
        </div>
        <div class="large reveal" id="coder4" data-reveal>
            <img class="res-reveal" src="/assets/img/res-AndavoVacations.png">
            <h3 class="text-center">Visit <a href="http://staging.andavotravel.com" class="light" target="_blank">http://andavovacations.com</a></h3>
            <div class="grid-x grid-margin-x">
                <div class="cell large-6 large-offset-3">
                    <h3>About this project</h3>
                    <h5 class="regular">How it's coded</h5>
                    <p>This site uses Foundation to manage the HTML and CSS, but because it has a data layer it also uses a Zend PHP framework. The travel agents featured on this site create their profiles through <a data-open="coder3">AirPortal</a>. That data is saved to a MySQL database and retrieved by the web services. The PHP connects to the REST endpoints and brings the data into the view.</p>
                    <h5 class="regular">Leveling the playing field</h5>
                    <p>Because all the travel agents are competing for leads, one of the challenges was to make sure that no one was given an unfair advantage when a user comes to the site. To prevent this we randomized the list of agents that appeared in a search.</p>
                    <h5 class="regular">Increasing adoption</h5>
                    <p>We wanted the <a href="http://andavovacations.com/advisor">advisor profile pages</a> to be something that the travel advisors would want to use. This means that it had be be simple but customizable. A wysywg editor was out of the question because we wanted the pages to have a consistant look, and as a designer, the idea of allowing bold, red, underlined text on a page gives me heart palpitations.</p>
                    <p>I created several fields that would allow them to make their personal pitch to the user in a clean and consistent way. The suggested fields also made it simpler for the travel advisors to craft their message. I also curated 60 header banners that the advisor could randomize, or choose one that they like best.</p>
                    <p>The profile pages were so well received that some travel advisors have abandoned their old websites, and now use their advisor profile page as their primary online presence.</p>
                    <button type="button" class="button" data-close aria-label="Close modal">Close</button>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

        <div class="cell large-4 medium-6">
            <div class="res-cell">
                <a data-open="coder5"><img class="center res" src="/assets/img/res-serrano-thumb.png"></a>
            </div>
            <div class="caption center">
                <a href="http://serranohotel.com" target="_blank"><h3 class="text-center light">SerranoHotel.com</h3></a>
                <p>Serrano Hotel was a project I worked on in 2013. In addition to contributing to the frontend code, I designed the hotel's logo and took some of the photos that are used on the site and in the hotel's promotional materials.</p>
                <p><strong>My contributions:</strong> HTML, CSS, Designer, Developer, Photographer <a href="http://serranohotel.com">http://SerranoHotel.com</a></p>
            </div>
            <div class="spacer medium"></div>
        </div>
        <div class="large reveal" id="coder5" data-reveal>
            <img class="res-reveal" src="/assets/img/res-serrano.png">
            <h3 class="text-center">Visit <a href="http://serranohotel.com" class="light" target="_blank">http://serranohotel.com</a></h3>
            <button type="button" class="button" data-close aria-label="Close modal">Close</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="cell large-4 medium-6">
            <div class="res-cell">
                <a data-open="coder6"><img class="center res" src="/assets/img/res-carfling-thumb.png"></a>
            </div>
            <div class="caption center">
                <a href="http://carfling.com" target="_blank"><h3 class="text-center light">Carfling.com</h3></a>
                <p>Carfling was one of my favorite clients when I ran my own marketing business from 2010-2013. My coding has greatly improved since then but I still enjoy this unique design. This site was one of my first responsive sites that was done without a CMS template.</p>
                <p><strong>My contributions:</strong> HTML (Foundation 5), CSS (SASS), Designer, Developer <a href="http://carfling.com" target="_blank">http://carfling.com</a></p>
            </div>
            <div class="spacer medium"></div>
        </div>
        <div class="large reveal" id="coder6" data-reveal>
            <img class="res-reveal" src="/assets/img/res-carfling.png">
            <h3 class="text-center">Visit <a href="http://hmhf.com" class="light" target="_blank">http://carfling.com</a></h3>
            <button type="button" class="button" data-close aria-label="Close modal">Close</button>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>