<div class="grid-container fluid section gradient-background chicago slate-border-top" style="">
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <h1 class="extra-light slash" id="">Tech Stack</h1>
        </div>
        <div class="cell large-6 large-offset-3">
            <h3 class="text-center">Design Tools</h3>
            <p class="text-center">Oh your company does skills tests? Bring it on!</p>
        </div>
    </div>
    <div class="grid-x grid-margin-x small-up-2 medium-up-3 large-up-7">
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/sketch.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/invision.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/invision-studio.svg">
            <p class="proficiency">Proficient</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/ai.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/ps.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/xd.svg">
            <p class="proficiency">Some Experience</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/balsamiq.svg">
            <p class="proficiency">Proficient</p>
        </div>
    </div>

    <div class="spacer medium"></div>

    <div class="grid-x grid-margin-x">
        <div class="cell large-6 large-offset-3">
            <h3 class="text-center">Analytics / User Testing Tools</h3>
            <p class="text-center">If experience has taught me anything, it's that no matter how good at design I am (pretty darn good, if I do say so myself), it's not my opinion that matters the most, it's the user's.</p>
        </div>
    </div>
    <div class="grid-x grid-padding-x small-up-2 medium-up-2 large-up-2">
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/fullstory.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/pendo.svg">
            <p class="proficiency">Proficient</p>
        </div>
    </div>

    <div class="grid-x grid-margin-x">
        <div class="cell large-8 large-offset-2">
            <p class="quote">When Mike first joined the team he was eager to get to work and quickly raised the bar with his level of work. I was always amazed by his ability to keep simplicity in design yet be able to invoke positive emotions through the user experience. </p>
            <p class="attribution">-<strong>Kurt Stauffer</strong>, Senior Developer</p>
        </div>
    </div>

    <div class="spacer medium"></div>

    <div class="grid-x grid-margin-x">
        <div class="cell large-6 large-offset-3">
          <h3 class="text-center">Development Tools</h3>
            <p class="text-center">I'm not a front-end developer. But it sure helps that I can speak their language.</p>
        </div>
    </div>

    <div class="grid-x grid-margin-x small-up-2 medium-up-4 large-up-8">
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/html.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/css.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/js.svg">
            <p class="proficiency">Some Experience</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/react.svg">
            <p class="proficiency">Dabbled</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/foundation-2.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/bootstrap-2.svg">
            <p class="proficiency">Proficient</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/sass.svg">
            <p class="proficiency">Expert</p>
        </div>
        <div class="cell">
            <img class="tech-logo" src="/assets/img/tech-logos/git.svg">
            <p class="proficiency">Proficient</p>
        </div>
    </div>
</div>
