<div class="grid-container fluid gradient-background rocks section slate-border-top" style="">
    <div class="grid-x grid-margin-x">
        <div class="cell medium-8 large-6">
            <h1 class="extra-light slash" id="">Experience</h1>
            <p class="light">Since 2014 I’ve worked in SaaS production where I have led projects through the entire product life-cycle. I have experience in all aspects of application design including research, prototyping, user testing, documentation, production and maintenance.  I’ve worked as part of a cross-functional team in an Agile, scrum-managed environment.</p>
            <div class="spacer small"></div>
        </div>
        <div class="cell large-4 large-offset-1" >
            <img class="infographic center" src="/assets/img/check.svg">
        </div>
        <div class="cell large-5 small-order-2 medium-order-1" >
            <img class="infographic center" src="/assets/img/venn.svg">
        </div>
        <div class="cell auto small-order-1 medium-order-2">
            <h3>Managing the Overlap</h3>
            <p>Great UX Designers are found where the roles overlap. It's knowing how to contribute effectively to both ends of the production without overstepping bounds.</p>
            <p class="quote">I highly recommend Mike for User Experience and Design. Not only can he produce innovative, intuitive and attractive designs, he also has the willingness and capabilities to learn advanced tools and industries. When working with me on a project at Christopherson Business Travel, he did the design for my project as well as jumped into the code and helped me implement it. I found him always approachable and willing to listen to my technical concerns, and how to best design around them, to produce the best product for our mutual clients. </p>
            <p class="attribution">-<strong>Nick Mattasch</strong>, Senior Systems Architect</p>
        </div>
    </div>
    <div class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-7">
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/human-centered.svg">
            <p class="text-center">Human Centered Design</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/atomic.svg">
            <p class="text-center">Atomic Design&#169;</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/context.svg">
            <p class="text-center">Contextual Inquiry</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/data-design.svg">
            <p class="text-center">Data-driven Design</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/prototyping.svg">
            <p class="text-center">Prototyping & Wireframing</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/ideation.svg">
            <p class="text-center">Creative Ideation</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/strategy.svg">
            <p class="text-center">Product Strategy</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/design-system.svg">
            <p class="text-center">Design Systems</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/markup.svg">
            <p class="text-center">Rapid Prototyping</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/user-testing.svg">
            <p class="text-center">User Testing</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/audit.svg">
            <p class="text-center">UI Auditing</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/user-flow.svg">
            <p class="text-center">User Flow Mapping</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/story-pointing.svg">
            <p class="text-center">Story Writing / Pointing</p>
        </div>
        <div class="cell">
            <img class="info-icon" src="/assets/img/icons-2/data-analytics.svg">
            <p class="text-center">Business Analytics</p>
        </div>
    </div>
</div>
