<div class="grid-container fluid gradient-background drops" style="">
    <div class="site-thumb"><img width="1" height="1" src="/assets/img/res-portfolio.png"></div>
    <div class="site-thumb"><img src="/assets/img/res-portfolio-thumb.png"></div>
    <div class="small-icons">
        <a class="icon-container hide-for-small-only" href="http://mikenewbry.com/resume" target="_blank"><img class="icon" src="/assets/img/resume.svg"><span class="text">My résumé</span></a>
        <a class="icon-container hide-for-small-only" href="mailto:newbry@live.com" target="_blank"><img class="icon" src="/assets/img/email.svg"><span class="text">newbry@live.com</span></a>
        <a class="icon-container hide-for-small-only" href="tel:7203457636" target="_blank"><img class="icon" src="/assets/img/phone.svg"><span class="text">(720) 345-7636</span></a>
        <a class="icon-container hide-for-small-only" href="http://linkedin/mikenewbry" target="_blank"><img class="icon" src="/assets/img/linkedin.svg"><span class="text">LinkedIn</span></a>
        <a class="icon-container hide-for-small-only" href="http://behance.net/mikenewbry" target="_blank"><img class="icon" src="/assets/img/behance.svg"><span class="text">Behance</span></a>
        <a class="icon-container hide-for-small-only" href="http://medium.com/@mikenewbry" target="_blank"><img class="icon" src="/assets/img/medium.svg"><span class="text">Medium</span></a>
        <a class="icon-container hide-for-small-only" href="http://github.com/Kangaroonicorn/staging.mikenewbry.com" target="_blank"><img class="icon" src="/assets/img/github.svg"><span class="text">Github</span></a>
    </div>

    <div class="spacer small"></div>
    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-12">
            <h1 class="text-center comment extra-light" id="top">Mike Newbry</h1>
        </div>
        <div class="cell large-12 hide-overflow show-for-large">
            <div class="">
                <h2 class="text-center wide-kerning extra-light white">
                    <a href="#artist" data-smooth-scroll>Artist.</a>&nbsp;&nbsp;&nbsp;<a href="#coder" data-smooth-scroll>Coder.</a>&nbsp;&nbsp;&nbsp;<a href="#human" data-smooth-scroll>Human.</a><span class="typed-cursor bold">|</span>
                </h2>
            </div>
        </div>
        <div class="cell large-12 hide-overflow show-for-medium-only">
            <div class="">
                <h3 class="text-center extra-light white" style="display: block; max-width: 100vw;">
                    <a href="#artist" data-smooth-scroll>Artist.</a>&nbsp;&nbsp;&nbsp;<a href="#coder" data-smooth-scroll>Coder.</a>&nbsp;&nbsp;&nbsp;<a href="#human" data-smooth-scroll>Human.</a><span class="typed-cursor bold">|</span>
                </h3>
            </div>
        </div>
        <div class="cell large-12 hide-overflow show-for-small-only">
            <div class="center-block">
                <h2 class="wide-kerning extra-light white">
                    <a href="#artist" data-smooth-scroll>Artist.</a>
                    <br>
                    <a href="#coder" data-smooth-scroll>Coder.</a>
                    <br>
                    <a href="#human" data-smooth-scroll>Human.</a><span class="typed-cursor bold">|</span>
                </h2>
            </div>
        </div>
    </div>

    <div class="spacer large"></div>

    <div class="grid-x grid-margin-x align-center">
        <div class="cell large-2">
            <img class="me center" src="/assets/img/mike.jpg">
        </div>
        <div class="cell large-4 medium-8 align-center">
            <h3 class="center light" style="margin-bottom: 10px;">I'm what tech people call a unicorn.</h3>
            <p>I'm a designer that's also good at writing and understanding code. I've been in the tech industry since 2010 and worked in product design long before that.</p>
            <p>Check out some of my projects below. You can also check out my <a href="http://mikenewbry.com/resume" target="_blank">resume</a> while you're here.</p>
        </div>
    </div>

    <div class="spacer medium"></div>

</div>