<div class="grid-container fluid section">
    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell large-12">
            <h1 class="human" id="human">Human</h1>
        </div>
        <div class="large-5 large-offset-1">
            <h3 class="text-center light">About Mike</h3>
            <p>When I'm not designing the designs and coding the code, I'm spending time with my awesome wife and four developers-in-training. I like working on cars and motorcycles or anything else that's loud and fast.</p>
            <img src="/assets/img/mikes-fam.jpg">
        </div>
        <div class="large-5 large-offset-1">
            <div class="spacer large show-for-small-only"></div>
            <h3 class="text-center light">Contact</h3>
            <p>If you've had a look at my <a href="http://mikenewbry.com/resume">resume</a> and you think I'm just the kind of unicorn you're looking for, let's talk.</p>
            <div class="contact">
                <h3><a href=""><img src="/assets/img/phone.svg" class="contact">(720) 345-7636</a></h3>
                <h3><a href="mailto:newbry@live.com"><img src="/assets/img/email.svg" class="contact">newbry@live.com</a></h3>
                <h3><a href="https://www.linkedin.com/in/mike-newbry/"><img src="/assets/img/linkedin.svg" class="contact">LinkedIn</a></h3>
                <h3><a href="https://github.com/Kangaroonicorn/"><img src="/assets/img/github.svg" class="contact">GitHub</a></h3>
            </div>

        </div>
    </div>
</div>